@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveAlong {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

@keyframes floatCloud {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(400%);
  }
}

.cloud-1 {
  top: 20%;
  left: -20%;
}

.cloud-2 {
  top: 40%;
  left: -20%;
}

.scroll-on-hover {
  transition: transform 0.5s ease-in-out;
}

.scroll-on-hover:hover {
  transform: translateY(-100%);
}